<!-- start blog-section -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="section-title-s5">
                    <h2>@LatestBlogsInfo.HomeLatestBlogTitle</h2>
                    @((MarkupString)LatestBlogsInfo.HomeLatestBlogText)
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids">
                    
                    @foreach(var post in BlogPosts)
                    {
                        <div class="grid">
                            <div class="entry-media">
                                <img src="@post.ImageUrl" alt="@post.Title">
                            </div>
                            <div class="entry-body">
                                <div class="cats">@post.Category</div>
                                <h4><a href="@post.Slug">@post.Title</a></h4>
                                <p class="date">@post.CreatedDate.ToString()</p>
                                <a href="@post.Slug" class="read-more">Read More <i class="fi flaticon-next"></i></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>               
    </div> <!-- end container -->
</section>



@code {
    public GeneralInformation LatestBlogsInfo { get; set; }
    public List<BlogPost> BlogPosts { get; set; } = new List<BlogPost>();
    protected override Task OnInitializedAsync()
    {
        LatestBlogsInfo = FakeData.GetGeneralInformation();
        BlogPosts = FakeData.GetBlogPosts();
        return base.OnInitializedAsync();
    }
}