<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-md-6">
                <div class="cta-text">
                    <h3>@CallToActionInfo.CallToActionTitle</h3>
                    @((MarkupString)CallToActionInfo.CallToActionText)
                    
                </div>
            </div>
            <div class="col col-lg-5 col-lg-offset-1 col-md-6">
                <div class="row contact-info">
                    <div>
                        <i class="fi flaticon-call"></i>
                        <h4>Call us</h4>
                        <p><a class="header-call" href="call:+981735844196">@CallToActionInfo.CallToActionPhone</a></p>
                    </div>
                    <div>
                        <i class="fi flaticon-contact"></i>
                        <h4>Email us</h4>
                        <p><a href="mailto:info@tsgco.ir">@CallToActionInfo.CallToActionEmail</a></p>
                    </div>
                    <div class="address">
                        <i class="text-orange lnr lnr-map"></i> @CallToActionInfo.CallToActionAddress
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    public GeneralInformation CallToActionInfo { get; set; }
    protected override Task OnInitializedAsync()
    {
        CallToActionInfo = FakeData.GetGeneralInformation();
        
        return base.OnInitializedAsync();
    }
}