<!-- start quote-section -->
<section class="quote-section">
    <div class="content-area clearfix">
        <div class="left-col">
            <h2>@HomeContactUsInfo.HomeContactUsTitle</h2>
            <div class="details">
                @((MarkupString)HomeContactUsInfo.HomeContactUsText)
                <div class="btns">
                    <a href="/contact" class="theme-btn">CONTACT US</a>
                    <a href="/about" class="theme-btn-s3">MORE ABOUT US</a>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="quote-area">
                <h3>@HomeContactUsInfo.HomeContactUsFormTitle</h3>
                <p>@HomeContactUsInfo.HomeContactUsFormText</p>
                <EditForm Model=@Message 
                OnSubmit=@FormSubmitted class="contact-validation-active" id="contact-quote-form">
                    <div>
                        <DataAnnotationsValidator/>
                    </div>
                    <div>
                        <InputText @bind-Value=Message.FullName class="form-control" name="name" id="name" placeholder="Name*" />
                        <ValidationMessage For="() => Message.FullName" />
                    </div>
                    <div>
                        <InputText @bind-Value=Message.Email class="form-control" name="email" id="email" placeholder="Email*" />
                        <ValidationMessage For="() => Message.Email" />
                    </div>
                    <div>
                        <InputText @bind-Value=Message.Phone class="form-control" name="phone" id="phone" placeholder="Phone*" />
                        <ValidationMessage For="() => Message.Phone" />
                    </div>
                    <div>
                        <InputTextArea @bind-Value=Message.Message class="form-control" name="note"  id="note" placeholder="Case Description..." />
                        <ValidationMessage For="() => Message.Message" />
                    </div>
                    <div class="submit-area">
                        <button type="submit" onclick="@ShowLoading" class="theme-btn">Send Message</button>
                        <div id="loader" class='@(IsLoading ? "show" : "hide")'>
                            <i class="ti-reload"></i>
                        </div>
                    </div>
                    
                        <div class='clearfix error-handling-messages'>
                            <div class='@(IsSucceeded ? "success" : "error")'>
                                @ResultMessage
                            </div>
                        </div>
                    
                </EditForm>
            </div>
        </div>
    </div>
</section>


@code {
    ContactMessage Message = new ContactMessage();
    public string ResultMessage { get; set; } = "";
    public bool IsLoading { get; set; } = false;
    public bool IsSucceeded { get; set; } = false;
    public GeneralInformation HomeContactUsInfo { get; set; } = new GeneralInformation();
    protected override Task OnInitializedAsync()
    {
        HomeContactUsInfo = FakeData.GetGeneralInformation();
        return base.OnInitializedAsync();
    }

    public void ShowLoading()
    {
        IsLoading = true;
    }

    void FormSubmitted(EditContext context)
    {
        //Call HTTP POST action of API
        bool isValidForm = context.Validate();
        ResultMessage = isValidForm ? HomeContactUsInfo.HomeContactUsFormSuccessText : HomeContactUsInfo.HomeContactUsFormFailureText;
        IsSucceeded = isValidForm;
        Thread.Sleep(2000);
        IsLoading = false;
    }

}