<!-- start site-footer -->
<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <img src="assets/images/footer-logo.png" alt>
                        </div>
                        @((MarkupString)FooterInfo.FooterAboutText)
                        <div class="social-icons">
                            <ul>
                                @if(!string.IsNullOrEmpty(FooterInfo.FooterFacebookLink))
                                {
                                    <li><a href="@FooterInfo.FooterFacebookLink"><i class="ti-facebook"></i></a></li>
                                }
                                @if(!string.IsNullOrEmpty(FooterInfo.FooterTwitterLink))
                                {
                                    <li><a href="@FooterInfo.FooterTwitterLink"><i class="ti-twitter-alt"></i></a></li>
                                }
                                @if(!string.IsNullOrEmpty(FooterInfo.FooterLinkedinLink))
                                {
                                    <li><a href="@FooterInfo.FooterLinkedinLink"><i class="ti-linkedin"></i></a></li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>White Gold Links</h3>
                        </div>
                        <ul>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/industries">Industries</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                        <ul>
                            <li><a href="/announcements">Announcements</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/news">News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget contact-widget service-link-widget">
                        <div class="widget-title">
                            <h3>Contact Us</h3>
                        </div>
                        <ul>
                            <li>@FooterInfo.FooterAddress</li>
                            <li><span>Phone:</span> @FooterInfo.FooterSupportPhone</li>
                            <li><span>Email:</span> @FooterInfo.FooterEmail</li>
                            <li><span>Office Time:</span> @FooterInfo.FooterOpenTime</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 col-sm-6">
                    <div class="widget newsletter-widget">
                        <div class="widget-title">
                            <h3>Newsletter</h3>
                        </div>
                        @FooterInfo.FooterNewsLetterText
                        <EditForm OnSubmit=SubmitNewsLetter Model=NewsLetter>
                            <div class="input-1">
                                <InputText @bind-Value=NewsLetter.Email type="email" class="form-control" placeholder="Email Address *" />
                            </div>
                            <div class="submit clearfix">
                                <button onclick="@ShowLoading" type="submit"><i class="ti-email"></i></button>
                            </div>
                        </EditForm>
                            @if(IsLoading)
                            {
                                <span>Registering your email ...</span>
                            }
                            <span>@ResultMessage</span>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="separator"></div>
                <div class="col col-xs-12">
                    <p class="copyright">Created by <a href="https://sadin.dev">SadinCo</a></p>
                    <div class="extra-link">
                        <ul>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/about">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



@code {
    public GeneralInformation FooterInfo { get; set; }
    public bool IsSucceeded { get; set; }
    public string ResultMessage { get; set; }
    public bool IsLoading { get; set; } = false;
    private NewsLetterViewModel NewsLetter = new NewsLetterViewModel();
    public void ShowLoading()
    {
        IsLoading = true;
    }

    void SubmitNewsLetter(EditContext context)
    {
        Thread.Sleep(3000);
        bool isValidForm = context.Validate();
        //Call HTTP Client Api Call
        if(isValidForm /*&& httpPostResult == true*/)
        {
            IsSucceeded = true;
            ResultMessage = "Your email successfully submitted.";
        }
        else
        {
            IsSucceeded = false;
            ResultMessage = "There are some errors in registering on newsletter, please try again later.";
        }
        IsLoading = false;
    }
    protected override Task OnInitializedAsync()
    {
        FooterInfo = FakeData.GetGeneralInformation();
        
        return base.OnInitializedAsync();
    }
}