<!-- start service-section -->
<section class="service-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="section-title-s2">
                    <h2>@IndustriesIntro.IndustriesSectionTitle</h2>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="title-text">
                    @((MarkupString)IndustriesIntro.IndustriesSectionText)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="service-grids clearfix">
                    
                    @foreach(var industry in Industries)
                    {
                        <div class="grid">
                            @((MarkupString)industry.Icon)
                            <h4><a href="/industries/@industry.Slug">@industry.Title</a></h4>
                            <p>@industry.Description</p>
                            <a href="/industries/@industry.Slug" class="read-more">Read More <i class="fi flaticon-next"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> 
</section>


@code {
    public GeneralInformation IndustriesIntro { get; set; }
    public List<Industry> Industries { get; set; }
    

    protected override Task OnInitializedAsync()
    {
        IndustriesIntro = FakeData.GetGeneralInformation();
        Industries = FakeData.GetIndustries();
        return base.OnInitializedAsync();
    }
}