@model PaginatedList<User>
@{

    var prevDisabled = !Model.HasPreviousPage ? "d-none" : "";
    var nextDisabled = !Model.HasNextPage ? "d-none" : "";
    var totalPages = Model.TotalPages;
    var pageIndex = Model.PageIndex;
    int rowNo = 0;
}
<div id="datatable" data-url="/Admin/Users/Index">
    <div class="card-body table-responsive p-0">
        <table class="table table-head-fixed">
            <thead>
                <tr>
                    <th>شماره</th>
                    <th>نام کاربری</th>
                    <th>فعال</th>
                    <th>دستورات</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @(rowNo += 1)
                        </td>
                        <td>@item.UserName</td>
                        <td>
                            @* <button type="button" class="btn btn-sm btn-default" data-toggle="ajax-modal" data-target="#changestatus-modal" data-url="@Url.Action("ChangeStatus", "Users", new { Area = "Admin", id = item.Id })">
                                <i ks-value="@item.IsActive" data-toggle="tooltip" data-placement="top" title="تغییر وضعیت"></i>
                            </button> *@
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-default" data-toggle="ajax-modal" data-target="#edit-modal" data-url="@Url.Action("Edit", "Users", new { Area = "Panel", id = item.Id })">
                                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="ویرایش"></i>
                            </button>

                            <button type="button" class="btn btn-sm btn-default" data-toggle="ajax-modal" data-target="#delete-modal" data-url="@Url.Action("Remove", "Users", new { Area = "Panel", id = item.Id.ToString() })">
                                <i class="fa fa-trash text-danger" data-toggle="tooltip" data-placement="top" title="حذف"></i>
                            </button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item @prevDisabled">
                <a class="page-link" href="#" data-type="pagination" data-pageId="@(Model.PageIndex - 1)" data-currentFilter='@ViewData["CurrentFilter"]'>&laquo;</a>
            </li>
            @for (int i = 1; i <= totalPages; i++)
            {
                @if (i == pageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link" data-type="pagination" href="#" data-pageId="@i" data-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" data-type="pagination" href="#" data-pageId="@i" data-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                    </li>
                }

            }
            <li class="page-item @nextDisabled">
                <a class="page-link" href="#" data-type="pagination" data-pageId="@(Model.PageIndex + 1)" data-currentFilter="@ViewData["CurrentFilter"]">
                    &raquo;
                </a>
            </li>
        </ul>
    </div>
</div>